<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    {% load static %}
    <link rel="shortcut icon" sizes="any" type="image/svg+xml" href="{% static "images/favicon.svg" %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Bookmarks</title>
  </head>
  <body class="bg-dark text-white">
    <div class="form-overlay">
      <div id="new-folder-form" class="form">
        <h5>Add a new Folder</h5>
        <form action="">
          <div class="form-input-group">
            <label for="name">Name</label>
            <input name="name" type="text" value="" placeholder="Folder Name"/>
          </div>
          <div class="form-submit-group">
            <button class="btn btn-dark submit okay">Okay</button>
            <button class="btn btn-dark submit cancel">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row vh-100">
        <div id="nav-column" class="col-3 px-0 bg-real-dark">
          <nav class="navbar navbar-dark bg-real-dark text-white sticky-top">
            <div class="navbar-nav">
              <div class="row">
                <h4>Folders</h4>
                <div id="new-folder-button" href="#">
                  <img alt="new folder" src="{% static "images/new-folder.svg" %}"/>
                </div>
              </div>
              <div id="folder-list">
                {% if folder_list %}
                {% for folder in folder_list %}
                <a class="nav-link active" href="#folder-{{ folder.name|lower }}">{{ folder.name }}</a>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </nav>
        </div>

        <main class="col-9 border-left border-dark">
          <h2 class="mt-2 mb-4">Bookmarks</h2>
          <div class="container" id="bookmark-container">
            {% csrf_token %}
            {% if folder_list %}
            {% for folder in folder_list %}
            <div class="folder pb-5" id="folder-{{ folder.name|lower }}">
              <h5 class="folder-title">{{ folder.name }}</h5>
              {% ifequal display 'list' %}
              <ul class="list-group">
                {% for bookmark in folder.bookmark_set.all %}
                <li id="bookmark-{{ bookmark.pk }}"class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center py-1">{{ bookmark.pageTitle }}
                <div class="action-container">
                  <a class="btn btn-outline-dark" target="_blank" href="{{ bookmark.pageLink }}">Visit</a>
                  <div class="button-transitioner">
                    <img class="btn delete bottom" alt="delete" src="{% static "images/delete.svg" %}"/>
                    <img class="btn delete top" alt="delete" src="{% static "images/delete-filled.svg" %}"/>
                  </div>
                </div>
                </li>
                {% endfor %}
              </ul>

              {% else %}
              {% for bookmark in folder.bookmark_set.all %}
              <div id="bookmark-{{ bookmark.pk }}" class="card bg-real-dark mb-3">
                <img class="card-img-top" src="{% static 'images/loadingThumbnail.svg' %}" alt="Card image cap"/>
                <div class="card-body py-2">
                  <p class="mb-2">{{ bookmark.pageTitle }}</p>
                  <div class="action-container">
                    <a class="btn btn-outline-light" target="_blank" href="{{ bookmark.pageLink }}">Visit</a>
                    <div class="button-transitioner">
                      <img class="btn delete bottom" alt="delete" src="{% static "images/white-delete.svg" %}"/>
                      <img class="btn delete top" alt="delete" src="{% static "images/white-delete-filled.svg" %}"/>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endifequal %}
            </div>
            {% endfor %}
            {% else %}
            <p>You have no bookmarks yet!</p>
            {% endif %}

          </div>
        </main>
        <footer>
          <div class="footer-content">
            <p>Bookmarks, &copy; Ethan D.
            Twardy 2020. All rights reserved.</p>
          </div>
        </footer>
      </div>
    </div>

    <script src="{% static "js/build/bundle.js" %}"></script>
  </body>
</html>
