<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Bookmarks</title>
  </head>
  <body class="bg-dark text-white">
    <div class="container-fluid">
      <div class="row vh-100">
        <div id="nav-column" class="col-3 px-0">
          <nav class="navbar navbar-dark bg-dark text-white sticky-top">
            <div class="navbar-nav">
              <div class="row">
                <h4>Folders</h4>
                <div id="new-folder-button" href="#">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                    <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                  </svg>
                </div>
              </div>
              {% if folderList %}
              {% for folder in folderList %}
              <a class="nav-link active" href="#folder-{{ folder.name|lower }}">{{ folder.name }}</a>
              {% endfor %}
              {% endif %}
            </div>
          </nav>
        </div>

        <main class="col-9 border-left border-dark">
          <h2 class="mt-2 mb-4">Bookmarks</h2>
          <div class="container">
            {% if folderList %}
            {% for folder in folderList %}
            <div class="folder pb-5" id="folder-{{ folder.name|lower }}">
              <h5 class="folder-title">{{ folder.name }}</h5>
              <ul class="list-group">
                {% for bookmark in folder.bookmarks %}
                <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center py-1">{{ bookmark.pageTitle }} <a class="btn btn-dark" target="_blank" href="{{ bookmark.pageLink }}">Visit</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
            {% else %}
            <p>You have no bookmarks yet!</p>
            {% endif %}

          </div>
        </main>
      </div>
    </div>

    <script src="{% static "js/build/bundle.js" %}"></script>
  </body>
</html>
