<div class="folder-grid">
  {% load static %}
  {% for bookmark in folder.bookmark_set.all %}
  <div id="bookmark-{{ bookmark.pk }}"
       class="card bg-real-dark mb-3 mr-3">
    <input
      name="bookmark-url" type="hidden"
      value="{{ request.path }}api/bookmarks/{{ bookmark.id }}/"/>
    {% ifequal bookmark.thumbnail.name 'blank.svg' %}
    <img
      class="card-img-top" alt="Card image cap"
      src="{% static 'bookmarks/images/blankThumbnail.svg' %}"/>
    {% else %}
    <img class="card-img-top" alt="Card image cap"
         src="{{ bookmark.thumbnail.url }}"/>
    {% endifequal %}
    <div class="card-body py-2">
      <p class="mb-2">{{ bookmark.pageTitle }}</p>
      <div class="action-container">
        <a class="btn btn-outline-light" target="_blank"
           href="{{ bookmark.pageLink }}">Visit</a>
        <div class="button-transitioner">
          <img class="btn delete bottom" alt="delete" src="{% static 'bookmarks/images/white-delete.svg' %}"/>
          <img class="btn delete top" alt="delete" src="{% static 'bookmarks/images/white-delete-filled.svg' %}"/>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
