{% extends "bookmarks/application_base.html" %}
{% block content %}
<h2 class="mt-2 mb-4">Bookmarks</h2>
<div class="container" id="bookmark-container">
  {% csrf_token %}
  {% if folder %}
  <div class="folder pb-5" id="folder-{{ folder.name|lower }}">
    <h5 class="folder-title">{{ folder.name }}</h5>
    {% ifequal display 'list' %}
    {% include 'bookmarks/display_list.html' %}
    {% else %}
    {% include 'bookmarks/display_cards.html' %}
    {% endifequal %}
  </div>
  {% else %}
  <p>You have no bookmarks yet!</p>
  {% endif %}

</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'bookmarks/js/bundle.js' %}"></script>
{% endblock %}
